   

	<main>
		<div class="container">
			<article>
				<h2>Article Title</h2>
				<img src="image1.jpg" alt="Image 1">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor commodo erat, sit amet tincidunt velit accumsan id. Integer ac commodo augue. Nunc id enim consectetur, consequat risus vel, consequat nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce eget nisl libero. Sed ac orci vel odio malesuada dapibus. Praesent at ipsum vitae arcu feugiat ultricies. Morbi malesuada dolor vel nulla auctor, vitae bibendum lectus tristique. Donec sit amet odio lacus. Integer in nibh velit. </p>
			</article>
		</div>
	</main>

	
