<!DOCTYPE html>
<html>
  <head>
    <title>Ta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
  </head>
  <header>
    <div class="container">
      
      <nav>
        <ul>
          <li><h1>Something</h1></li>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <body>
    <%= yield %>
  </body>
  <footer>
		<div class="container">
			<p>&copy; 2023 The Website</p>
		</div>
	</footer>
</html>
